<% content_for :title, "New beneficiary" %>

<h1>New beneficiary</h1>

<%= render "form", beneficiary: @beneficiary %>

<br>

<div>
  <%= link_to "Back to benefitiaries", benefitiaries_path %>
</div>
