
	<!-- Header Area End -->
	
	<!-- Contact Form Start -->
		<div>
			<div class="container">
				<div class="row">
					<div class="col-xl-16">
						<div class="contact__three-form t-center">
							<div class="contact__three-form-title">	
								<span class="subtitle-four">Thank You! <%= current_user.title %>  <%= current_user.surname %> </span>
								<h3>Kindly pay the selected premium for us to process your cover..</h3>
								<br/>
								<br/>
									<div class="contact__two-right-form-item">
											<%= link_to "Proceed Checkout", choose_payment_path, class:"btn-one" %>
										</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
							
							
							
