<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div class="container">
<div class="animated-border-box-glow"> </div>
<div class="animated-border-box">
  <div class="frame">
    <div class="nav">
      <ul class"links">
        <li class="signin-active">
        <a class="btn">Sign in</a></li>
      </ul>
    </div>
    <div ng-app ng-init="checked = false">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),html: { class: "form-signin" }) do |f| %>

           <label for="email">Email</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-styling" %>

          <label for="password">Password</label>
          <%= f.password_field :password, autocomplete: "current-password", class:"form-styling" %>
          
          <label for="checkbox" >
          <div class="btn-animate">
          <%= f.submit "Log in", class:"btn-signin" %>
          </div>
				
        <% end %>

			
      </div>
      
      <div class="forgot">
        <a href="#">Forgot your password?</a>
      </div>
      
   
  </div>
  </div>

</div>