<% content_for :title, "Editing coverdetail" %>

<h1>Editing coverdetail</h1>

<%= render "form", coverdetail: @coverdetail %>

<br>

<div>
  <%= link_to "Show this coverdetail", @coverdetail %> |
  <%= link_to "Back to coverdetails", coverdetails_path %>
</div>
