<div id="<%= dom_id broker %>">
  <p>
    <strong>Broker name:</strong>
    <%= broker.broker_name %>
  </p>

  <p>
    <strong>Unit name:</strong>
    <%= broker.unit_name %>
  </p>

  <p>
    <strong>Signature:</strong>
    <%= broker.signature %>
  </p>

</div>
